Region: '@AWS_REGION@'
Image:
  Os: alinux2
AdditionalPackages:
  IntelSoftware:
    IntelHpcPlatform: false
SharedStorage:
  - Name: cryosparc-ebs
    StorageType: Ebs
    MountDir: /shared
    EbsSettings:
      Encrypted: false
      VolumeType: gp3
      Size: 100
  - Name: cryosparc-fsx
    StorageType: FsxLustre
    MountDir: /fsx
    FsxLustreSettings:
      StorageCapacity: 2400
      DeploymentType: SCRATCH_2
      ImportedFileChunkSize: 1024
      ExportPath: s3://@S3_DATA_BUCKET@
      ImportPath: s3://@S3_DATA_BUCKET@
Monitoring:
  Dashboards:
    CloudWatch:
      Enabled: true
HeadNode:
  InstanceType: c5n.9xlarge
  Networking:
    SubnetId: '@HEADNODE_SUBNET_ID@'
    ElasticIp: false
  Ssh:
    KeyName: '@AWS_KEY@'
  LocalStorage:
    RootVolume:
      Size: 100
    EphemeralVolume:
      MountDir: /scratch
  CustomActions:
    OnNodeConfigured:
      Script: https://structura-assets.s3.amazonaws.com/aws-deployment-guide/install-cryosparc_v1.sh
      Args:
        - '@CRYOSPARC_LICENSE_ID@'
  Iam:
    S3Access:
      - BucketName: '@S3_DATA_BUCKET@'
Scheduling:
  Scheduler: slurm
  SlurmQueues:
    - Name: gpu-large
      CapacityType: ONDEMAND
      ComputeResources:
        - Name: p4d-24xlarge
          InstanceType: p4d.24xlarge
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
        - Name: p3-16xlarge
          InstanceType: p3.16xlarge
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
        - Name: g4dn-metal
          InstanceType: g4dn.metal
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
      Iam:
        S3Access:
          - BucketName: '@S3_DATA_BUCKET@'
      Networking:
        SubnetIds:
          - '@COMPUTE_SUBNET_ID@'
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          EphemeralVolume:
            MountDir: /scratch
    - Name: gpu-med
      CapacityType: ONDEMAND
      ComputeResources:
        - Name: p3-8xlarge
          InstanceType: p3.8xlarge
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
        - Name: g4dn-12xlarge
          InstanceType: g4dn.12xlarge
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
      Iam:
        S3Access:
          - BucketName: '@S3_DATA_BUCKET@'
      Networking:
        SubnetIds:
          - '@COMPUTE_SUBNET_ID@'
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          EphemeralVolume:
            MountDir: /scratch
    - Name: gpu-small
      CapacityType: ONDEMAND
      ComputeResources:
        - Name: p3-2xlarge
          InstanceType: p3.2xlarge
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
        - Name: g4dn-16xlarge
          InstanceType: g4dn.16xlarge
          MinCount: 0
          MaxCount: 20
          DisableSimultaneousMultithreading: true
          Efa:
            Enabled: false
      Iam:
        S3Access:
          - BucketName: '@S3_DATA_BUCKET@'
      Networking:
        SubnetIds:
          - '@COMPUTE_SUBNET_ID@'
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          EphemeralVolume:
            MountDir: /scratch
